
.hero-banner{
    background: url('../csscode/pics/b.jpg')no-repeat center;
    width: 100%;
    height: 700px;
    background-size: cover;
    @media (min-width: 768px){
       height: calc(100vh-80px);
       }
    
 }
 .content{
     
     height: 100%;
     display: flex;
     justify-content: flex-end;
     flex-direction: column-reverse;
     margin: 0 auto;
     @media (min-width: 768px){
         flex-direction: row;
         max-width: 1200px;
     }
     .text-content{
         color: white;
         text-align: center;
         display: flex;
         flex-direction: column;
         align-items: center;
 
         @media (min-width: 768px){
           position: absolute;
           left: 50px;
           top: 40%;
           transform: translateY(-50%);
         }
         h1{ 
             font-size: 80px;
             font-weight: 700;
             line-height: 1;
             margin-bottom: 20px;
 
             @media (min-width: 768px){
             font-size: 80px;
 
             }
 
         }
         p{
             max-width: 300px;
             font-size: 14px;
             line-height: 20px;
             margin-bottom: 20px;
             @media (min-width: 768px){
                 max-width: 1400px;
                 font-size: 18px;
                 line-height: 24px;
                 margin-bottom: 40px;
 
     
                 }
        
 
         }
         .ctas{
             display: flex;
             justify-content: center;
             gap: 20px;
            }
         .banner-cta{
             text-transform: uppercase;
             font-size: 13px;
             font-weight: 500;
             width:fit-content;
             border: 2px solid white;
             padding: 10px 20px;
             cursor: pointer;
             
             &.v2{
                 background-color: white;
                 color: black;
 
             }
             &:hover{
                 opacity: 0.6;
                 background-color: white;
                 color: black;
             }
 
         }
 
     }
 
 }