.soffer-m-div {
    height: 700px;
    background-color: hsl(0, 0%, 25%);
    ;
    display: flex;
    color: white;

    .soffer-second-div {
        .soffer-header {
            margin: 220px 10px 10px 50px;
            font-size: 35px;
            font-weight: 800;
        }

        .soffer-disc {
            font-size: 20px;
            font-weight: 600;
            display: grid;
            margin: 50px 75px 10px 50px;

            .so-button {
                text-align: center;
                color: black;
                border: 3px solid white;
                padding: 10px 1px 1px 2px;
                margin: 40px 250px 0px;
                background-color: yellow;
                font-size: 15px;
                font-weight: 750;
                width: 160px;
                height: 30px;
                text-decoration: none;
            }

            .so-button:Hover {
                background-color: rgb(203, 203, 32);
                border: 3px solid black;
                text-transform: lowercase;
                text-align: center;
            }
        }
    }

    .soffer-img-div {
        .soffer-img {
            margin-top: 80px;
            width: 700px;
            height: 550px;
        }
    }
}